script
    $(document).ready(function() {

            $.blockUI({message:$('#loading')});
            setTimeout($.unblockUI, 1500);


            $('#pl').click(function() {
                $.blockUI({ message: $('#loginForm') });

            $('#sbm').click($.unblockUI);


            $('.blockOverlay').attr('title','Click to unblock').click($.unblockUI);
            $('.blockOverlay').css('cursor','pointer');
            $('#loginForm').css('cursor','default');

            });

            var max = $( ".slider" ).slider( "option", "max" );

        });
    function updateSteps(st){

        var mygroup=$('#step'+st).find('.group:visible').length;
                    $('#steps').stop().animate({

                                height:(mygroup*232+50)+"px"

                            },500,function(){

                    });


    }
#loading(style="width:300px; display:none")
    span loading...
#wrapper
    #loginForm(style="display: none; height:180px;width:300px;")
        h3(style="text-align:center") Fill the form

        #content(style="text-align:left; margin-left:10px")
            table(style="margin:auto")
                tr
                    td
                        span Title
                    td
                        input(type="text",id="agt",onkeydown="if (event.keyCode == 13) document.getElementById('sbm').click()")
                tr
                    td
                        span Left Extreme
                    td
                        input(type="text",id="agl",onkeydown="if (event.keyCode == 13) document.getElementById('sbm').click()")
                tr
                    td
                        span Right Extreme
                    td
                        input(type="text",id="agr",onkeydown="if (event.keyCode == 13) document.getElementById('sbm').click()")
        br
        input(type="submit", id="sbm", value="Add",style="align:center; width:100px; height: 20px; cursor:pointer", onclick="addNew($('#agt').val(),$('#agl').val(),$('#agr').val())")
    #steps
        form#formElem(name="formElem", action="", method="post")




                //
                    #footer
                        img(src=('../images/pl.png'), class="plus", id="pl")

    img(src="../images/pl.png", id="pl", class="plus")

    #navigation(style="display:none;")
        ul(id="nvList")



#delwin(style="display:none; width:250px;height:100px", onkeydown="if (event.keyCode == 13) document.getElementById('no').click()")
               h3(style="text-align:center") Warning

               #content(style="text-align:center;")

                   span  Are you sure to delete this element?

               #btn(style="margin-top:20px")

                    input(type="button", id="yes", value="Yes",style="align:center; width:100px; height: 20px; cursor:pointer;outline:none")
                    input(type="button", id="no", value="Cancel",style="align:center; width:100px; height: 20px; cursor:pointer; margin-left:20px;")

script



    function del(x){

                $.blockUI({ message: $('#delwin') });

                $('.blockOverlay').attr('title','Click to unblock').click($.unblockUI);
                            $('.blockOverlay').css('cursor','pointer');
                            $('#delwin').css('cursor','pointer');
                $('#yes').click($.unblockUI);
                $('#yes').click(function(){

                    $(x).parent().fadeOut('slow',function(){});
                    $('#steps').stop().animate({

                                            height:($('#steps').height()-230)+"px"
                                        },500,function(){
                                        });
                    socket.emit('delGroup',$(x).parent().attr('id').substring(1));

                });

                $('#no').click($.unblockUI);
    }



    var cGroup=-1;
    function plusGroup(){
        cGroup++;
        addgroup(1,cGroup,1,"provaooo","ojsbdg","osjdbg");
    }
    function addstep(st,legend){
        $('#formElem').append('<fieldset class="step" id="step'+st+'">')
        $('#step'+st).append('<legend>'+legend+'</legend>');

        if(st==0){
            $('#nvList').append('<li class="selected"><a href="#">'+legend+'</a></li>');
            $('#navigation').hide().fadeIn(3500);


        }
        else{
            $('#nvList').append('<li><a href="#">'+legend+'</a></li>');




        }
    }

    function addgroup(z,step, title, ext1, ext2){
        cGroup=z;



                var item=$('<div class="group" id="g'+z+'"><img class="cross" src="../images/cross.png" onclick="del(this);"><h3 class="tt">'+title+'</h3><span class="ext i">'+ext1+'</span><div class="sld"><div id="sgi'+z+'"><img src="../images/lines.png" class="lines" ><input type="range" name="test" min="-5" max="5" value="0" step="1" onchange="rchange(this);"></div><div class="uno"><div id="sgf'+z+'"><img src="../images/lines.png" class="lines"><input type="range" name="test" min="-5" max="5" value="0" step="1" onchange="erchange(this);"></div></div></div><span class="ext f">'+ext2+'</span><div id="arrows"><img src="../images/arrow0.png" onclick="change(this)" class="arrow" id="a0"><img src="../images/arrow1.png" onclick="change(this)" class="arrow" id="a1"><img src="../images/arrow2.png" onclick="change(this)" class="arrow" id="a2"></div><div id="ckbox"><input type="checkbox" name="valido" value="sgi'+z+'" onclick="mng($(this))"><input type="checkbox" name="valido" value="sgf'+z+'" onclick="mng($(this))"></div></div>').hide().fadeIn(2000);
                $('#step'+step).append(item);
                $(".group #sgi"+z+" :range").rangeinput();

                $(".group .uno #sgf"+z+" :range").rangeinput();


                z++;
                gi++;



        updateSteps(step);

        //$('#steps').css("height", $('#steps').height()+230 +"px");
    }



    function rchange(x){
        socket.emit('upgroupI',[$(x).parent().attr('id').substring(3), $(x).val()]);

    }
    function erchange(x){
        socket.emit('upgroupF',[$(x).parent().attr('id').substring(3), $(x).val()]);
    }
    function mng(x){
            if(x.attr("checked")){
                $($('#'+x.val())).css("visibility","hidden");

                if($(x).val().substring(2,3)=="i")
                    socket.emit('upgroupI',[$(x).val().substring(3), -100]);
                else
                    socket.emit('upgroupF',[$(x).val().substring(3), -100]);
                }
            else{
                $($('#'+x.val())).css("visibility","visible");
                if($(x).val().substring(2,3)=="i")
                    socket.emit('upgroupI',[$(x).val().substring(3), 0]);
                else
                    socket.emit('upgroupF',[$(x).val().substring(3), 0]);
                }
        }
    function change(x){
            if(x.style.border!=""){
                x.style.border="";
                x.style.background="";
                socket.emit('arr',[$(x).parent().parent().attr('id').substring(1), -100]);
                }
            else{
                x.style.border="solid 1px blue";

                socket.emit('arr',[$(x).parent().parent().attr('id').substring(1),$(x).attr('id').substring(1)]);
                x.style.background="#f1bf84";

                for(var i=0;i<$(x).siblings.length;i++){
                        if($(x).siblings()[i].style.border!=""){
                            $(x).siblings()[i].style.border="";
                            $(x).siblings()[i].style.background="";
                            }
                }

                }
        }
    var gi=0;
    var socket = io.connect();

     socket.emit('init',"");



           socket.on('step',function(step){
                addstep(step[0],step[1]);

            });
            socket.on('group', function (group) {


                addgroup(group[0],group[1],group[2],group[3],group[4]);
                var it=    $('#nvList').find('.selected');
                var c=$('li').index(it);
                if(c>-1)
                    setTimeout(updateSteps(c),2000);


            });


    function addNew(title, left, right){
            var it=    $('#nvList').find('.selected');
            socket.emit('addgroup', [gi,$('li').index(it),title,left,right]);
            addgroup(gi,$('li').index(it),title,left,right);




        };

    setTimeout(loadSlid,2000);


//
    .group
         h3.tt PROVA
         span.ext.i pdsogndnrova
         .sld
             img.lines(src=('../images/lines.png'));
             input(type="range", name="test",min="-5",max="5",value="0",step="1")
             img.lines(src=('../images/lines.png'));
             .uno
                  input(type="range", name="test",min="-5",max="5",value="0",step="1")
         span.ext.f provadslgkndlksnglln
         #arrows
             img.arrow(src=('../images/arrow0.png'), onclick="change(this)")
             img.arrow(src=('../images/arrow1.png'), onclick="change(this)")
             img.arrow(src=('../images/arrow2.png'), onclick="change(this)")
    <br/>