script
    $(document).ready(function() {

            $.blockUI({message:"loading..."});
            setTimeout($.unblockUI, 1500);

            $('#pl').click(function() {
                $.blockUI({ message: $('#loginForm') });
            $('#sbm').click($.unblockUI);

            $('.blockOverlay').attr('title','Click to unblock').click($.unblockUI);
            $('.blockOverlay').css('cursor','pointer');
            $('#loginForm').css('cursor','default');

            });

        });
    function updateSteps(st){

        var mygroup=$('#step'+st).find('.group:visible').length;
                    $('#steps').stop().animate({

                                height:(mygroup*232+50)+"px"

                            },500,function(){

                    });


    }

#wrapper
    #loginForm(style="display:none; height:165px")
        h3(style="text-align:center") Fill the form

        #content(style="text-align:left; margin-left:10px")

            span Title
            input(type="text",id="agt",style="margin-left:72px",onkeydown="if (event.keyCode == 13) document.getElementById('sbm').click()")
            br
            span Left Extreme
            input(type="text",id="agl",style="margin-left:21px",onkeydown="if (event.keyCode == 13) document.getElementById('sbm').click()")
            br
            span Right Extreme
            input(type="text",id="agr",style="margin-left:10px",,onkeydown="if (event.keyCode == 13) document.getElementById('sbm').click()")
        br
        input(type="submit", id="sbm", value="Add",style="align:center; width:100px; height: 50px; cursor:pointer", onclick="addNew($('#agt').val(),$('#agl').val(),$('#agr').val())")
    #steps
        form#formElem(name="formElem", action="", method="post")




                //
                    #footer
                        img(src=('../images/pl.png'), class="plus", id="pl")

    img(src="../images/pl.png", id="pl", class="plus")

    #navigation(style="display:none;")
        ul(id="nvList")





script

    function change(x){
        if(x.style.border!=""){
            x.style.border="";
            x.style.background="";
            }
        else{
            x.style.border="solid 1px blue";
            x.style.background="#f1bf84";

            for(var i=0;i<$(x).siblings.length;i++){
                    if($(x).siblings()[i].style.border!=""){
                        $(x).siblings()[i].style.border="";
                        $(x).siblings()[i].style.background="";
                        }
            }

            }
    }

    function del(x){
        $(x).parent().fadeOut('slow',function(){upFoot();});
        $('#steps').stop().animate({

                                height:($('#steps').height()-230)+"px"
                            },500,function(){
                            });
    }

    function upFoot(){


    }

    var cGroup=-1;
    function plusGroup(){
        cGroup++;
        addgroup(1,cGroup,1,"provaooo","ojsbdg","osjdbg");
    }
    function addstep(st,legend){
        $('#formElem').append('<fieldset class="step" id="step'+st+'">')
        $('#step'+st).append('<legend>'+legend+'</legend>');

        if(st==0){
            $('#nvList').append('<li class="selected"><a href="#">'+legend+'</a></li>');
            $('#navigation').hide().fadeIn(3500);


        }
        else{
            $('#nvList').append('<li><a href="#">'+legend+'</a></li>');




        }
    }
    function mng(x){
        if(x.attr("checked"))
            $($('#'+x.val())).css("visibility","hidden");
        else
            $($('#'+x.val())).css("visibility","visible");
    }
    function addgroup(step,z,n, title, ext1, ext2){
        cGroup=z;

        for( var i=0;i<n;i++){

                var item=$('<div class="group" id="g'+z+'"><img class="cross" src="../images/cross.png" onclick="del(this);"><h3 class="tt">'+title+'</h3><span class="ext i">'+ext1+'</span><div class="sld"><div id="sgi'+z+'"><img src="../images/lines.png" class="lines" ><input type="range" name="test" min="-5" max="5" value="0" step="1"></div><div class="uno"><div id="sgf'+z+'"><img src="../images/lines.png" class="lines"><input type="range" name="test" min="-5" max="5" value="0" step="1"></div></div></div><span class="ext f">'+ext2+'</span><div id="arrows"><img src="../images/arrow0.png" onclick="change(this)" class="arrow"><img src="../images/arrow1.png" onclick="change(this)" class="arrow"><img src="../images/arrow2.png" onclick="change(this)" class="arrow"></div><div id="ckbox"><input type="checkbox" name="valido" value="sgi'+z+'" onclick="mng($(this))"><input type="checkbox" name="valido" value="sgf'+z+'" onclick="mng($(this))"></div></div>').hide().fadeIn(2000);
                $('#step'+step).append(item);
                $(".group #sgi"+z+" :range").rangeinput();

                $(".group .uno #sgf"+z+" :range").rangeinput();

                upFoot();
                z++;
                gi++;
        }

        updateSteps(step);
        //$('#steps').css("height", $('#steps').height()+230 +"px");
    }



    var connected=false;
    var gi=0;
    var socket = io.connect();
            if(!connected){
                 socket.emit('init',"init");
                 connected=true;
                 console.log(connected);
                 }
           socket.on('step',function(step){
                addstep(step[0],step[1]);

            });
            socket.on('group', function (group) {


                addgroup(group[0],gi,group[1],group[2],group[3],group[4]);
                var it=    $('#nvList').find('.selected');
                var c=$('li').index(it);
                if(c>-1)
                    setTimeout(updateSteps(c),2000);

                gi++;
            });


    function addNew(title, left, right){
            var it=    $('#nvList').find('.selected');
            socket.emit('addgroup', [title,left,right]);
            addgroup($('li').index(it),gi,1,title,left,right);



            gi++;
        };

    setTimeout(loadSlid,2000);


//
    .group
         h3.tt PROVA
         span.ext.i pdsogndnrova
         .sld
             img.lines(src=('../images/lines.png'));
             input(type="range", name="test",min="-5",max="5",value="0",step="1")
             img.lines(src=('../images/lines.png'));
             .uno
                  input(type="range", name="test",min="-5",max="5",value="0",step="1")
         span.ext.f provadslgkndlksnglln
         #arrows
             img.arrow(src=('../images/arrow0.png'), onclick="change(this)")
             img.arrow(src=('../images/arrow1.png'), onclick="change(this)")
             img.arrow(src=('../images/arrow2.png'), onclick="change(this)")
    <br/>